[Unit]
Description=Power monitoring with a Raspberry Pi
After=multi-user.target

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/power-pi
ExecStart=/usr/bin/python /home/pi/power-pi/power-pi.py
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=multi-user.target
